<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />

    <!-- Open Graph (카카오톡 공유용) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Undefined Gallery">
    <meta property="og:description" content="Welcome to the Leo's lab!">
    <meta property="og:image" content="{{ '/assets/images/logo_black.png' | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <header class="header">
      <a class="logo" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo_letters.png' | relative_url }}" alt="Undefined Gallery Logo">
      </a>
      <nav class="nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/works/' | relative_url }}">Works</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="footer">
      <span>© {{ "now" | date: "%Y" }} Undefined Gallery</span>
    </footer>
  </body>
</html>