<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
  </head>
  <body>
    <header class="header">
      <a class="logo" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/logo_letters.png' | relative_url }}" alt="Undefined Gallery Logo">
      </a>
      <nav class="nav">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/works/' | relative_url }}">Works</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="footer">
      <span>© {{ "now" | date: "%Y" }} Undefined Gallery</span>
    </footer>
  </body>
</html>